{% extends 'panel/base.html' %}
{% load static %}
{% block main %}
    <!-- portfolio start -->
    <section class="pos-rel section-bg-dark" data-scroll-section>
        <!-- js-carousel-slider-bg start -->
        <div class="js-carousel-slider-bg content-bg-dark">
            <!-- swiper-wrapper start -->
            <div class="swiper-wrapper slider-scrollanim-activate" data-scroll>
                {% for item in project_list %}
                    <!-- swiper-slide start -->
                    <div class="swiper-slide height-100perc d-flex flex-align-center">
                        <div class="anim-scale margin-left-right-40">
                            <img class="anim-scale__inner" src="{% static item.header_image %}"
                                 alt="Project">
                        </div>
                    </div><!-- swiper-slide end -->
                {% endfor %}
            </div><!-- swiper-wrapper end -->
        </div><!-- js-carousel-slider-bg end -->

        <!-- js-carousel-slider start -->
        <div class="js-carousel-slider">
            <!-- swiper-wrapper start -->
            <div class="swiper-wrapper">
                {% for item in project_list %}
                    <!-- swiper-slide start -->
                    <h2 class="swiper-slide d-flex flex-center-center text-center">
                        <a href="project_02.html"
                           class="headline-l anim-stroke-fill-white js-pointer-large js-animsition-link"
                           data-text="">{{ item.title }}</a>
                    </h2><!-- swiper-slide end -->
                {% endfor %}
            </div><!-- swiper-wrapper end -->

            <!-- swiper-button-prev start -->
            <div class="swiper-button-prev-box after-preloader-anim">
                <div class="anim-fade-to-left tr-delay-03">
                    <div class="swiper-button-prev"></div>
                </div>
            </div><!-- swiper-button-prev end -->
            <!-- swiper-button-next start -->
            <div class="swiper-button-next-box after-preloader-anim">
                <div class="anim-fade-to-right tr-delay-03">
                    <div class="swiper-button-next"></div>
                </div>
            </div><!-- swiper-button-next end -->

            <!-- swiper-pagination start -->
            <div class="pagination-box after-preloader-anim">
                <div class="anim-fade-to-top d-block tr-delay-06">
                    <div class="swiper-pagination"></div>
                </div>
            </div><!-- swiper-pagination end -->
        </div><!-- js-carousel-slider end -->
    </section><!-- portfolio end -->
{% endblock %}
