{% extends 'panel/base.html' %}
{% load static %}
{% block main %}
    <!-- page head start -->
    <section id="up" class="section-bg-dark" data-scroll-section>
        <div class="page-head-footer-overlay-fix" data-scroll data-scroll-repeat>
            <!-- padding-top-bottom-150 start -->
            <div class="padding-top-bottom-150">
                <!-- title start -->
                <div class="container small">
                    <h2 class="headline-xxxl headline-uppercase after-preloader-anim">
                        درباره ما
                    </h2>
                </div><!-- title end -->
            </div><!-- padding-top-bottom-150 end -->

        </div>
    </section><!-- page head end -->

    <!-- about us start -->
    <section class="section-bg-light" data-scroll-section>
        <!-- container start -->
        <div class="container padding-top-60 padding-bottom-150">
            {% for item in about %}
                <!-- flex-container start -->
                <div class="flex-container flex-align-center padding-top-60">
                    <!-- column start -->
                    <div class="five-columns padding-top-30">
                        <div class="hidden-box">
                            <div data-scroll data-scroll-speed="-1.2">
                                <div class="anim-img-reveal" data-scroll data-scroll-offset="10%"
                                     style="background-image:url({% static item.image %})">
                                    <img src="{% static item.image %}" alt="About us">
                                </div>
                            </div>
                        </div>
                    </div><!-- column end -->
                    <!-- column start -->
                    <div class="seven-columns padding-top-30 text-color-mix-blend" data-scroll data-scroll-speed="1">
                        <div class="d-inline-block">
                            <div class="scrollanim-activate" data-scroll data-scroll-offset="20%">
                                <div class="hidden-box text-right-offset">
                                    <h2 class="headline-xl anim-text-slide">{{ item.title }}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="column-l-margin-40 margin-top-20">
                            <p class="body-text-m max-width-400 d-inline-block anim-split-lines" data-scroll
                               data-scroll-offset="20%">{{ item.text }}</div>
                    </div><!-- column end -->
                </div><!-- flex-container end -->
            {% endfor %}
        </div><!-- container end -->
    </section><!-- about us end -->

    <!-- section-bg-dark start -->
    <div class="section-bg-dark" data-scroll-section>
        <!-- padding-top-bottom-30 start -->
        <div class="padding-top-bottom-30">
            <!-- clients start -->
            <section class="padding-top-bottom-120 container small">
                <h2 class="headline-m anim-split-lines max-width-400" data-scroll data-scroll-offset="20%">شرکت هایی که
                    با ما همکاری کرده اند</h2>

                <!-- flex-container start -->
                <div class="flex-container padding-top-30">
                    <!-- column start -->
                    <div class="three-columns padding-top-60">
                        <div class="text-center">
                            <img class="client-logo" src="assets/images/clients/balancha.png" alt="clients logo">
                        </div>
                    </div><!-- column end -->

                    <!-- column start -->
                    <div class="three-columns padding-top-60">
                        <div class="text-center">
                            <img class="client-logo" src="assets/images/clients/chayhana.png" alt="clients logo">
                        </div>
                    </div><!-- column end -->

                    <!-- column start -->
                    <div class="three-columns padding-top-60">
                        <div class="text-center">
                            <img class="client-logo" src="assets/images/clients/chimkirikter.png" alt="clients logo">
                        </div>
                    </div><!-- column end -->

                    <!-- column start -->
                    <div class="three-columns padding-top-60">
                        <div class="text-center">
                            <img class="client-logo" src="assets/images/clients/dongolok.png" alt="clients logo">
                        </div>
                    </div><!-- column end -->

                    <!-- column start -->
                    <div class="three-columns padding-top-60">
                        <div class="text-center">
                            <img class="client-logo" src="assets/images/clients/eptep-septep.png" alt="clients logo">
                        </div>
                    </div><!-- column end -->

                    <!-- column start -->
                    <div class="three-columns padding-top-60">
                        <div class="text-center">
                            <img class="client-logo" src="assets/images/clients/guldoyjan.png" alt="clients logo">
                        </div>
                    </div><!-- column end -->

                    <!-- column start -->
                    <div class="three-columns padding-top-60">
                        <div class="text-center">
                            <img class="client-logo" src="assets/images/clients/jorgo.png" alt="clients logo">
                        </div>
                    </div><!-- column end -->

                    <!-- column start -->
                    <div class="three-columns padding-top-60">
                        <div class="text-center">
                            <img class="client-logo" src="assets/images/clients/judoboy.png" alt="clients logo">
                        </div>
                    </div><!-- column end -->

                    <!-- column start -->
                    <div class="three-columns padding-top-60">
                        <div class="text-center">
                            <img class="client-logo" src="assets/images/clients/kizil-jindi.png" alt="clients logo">
                        </div>
                    </div><!-- column end -->

                    <!-- column start -->
                    <div class="three-columns padding-top-60">
                        <div class="text-center">
                            <img class="client-logo" src="assets/images/clients/meyman.png" alt="clients logo">
                        </div>
                    </div><!-- column end -->

                    <!-- column start -->
                    <div class="three-columns padding-top-60">
                        <div class="text-center">
                            <img class="client-logo" src="assets/images/clients/olchobay.png" alt="clients logo">
                        </div>
                    </div><!-- column end -->

                    <!-- column start -->
                    <div class="three-columns padding-top-60">
                        <div class="text-center">
                            <img class="client-logo" src="assets/images/clients/tamaktan.png" alt="clients logo">
                        </div>
                    </div><!-- column end -->
                </div><!-- flex-container end -->
            </section><!-- clients end -->

            <!-- marquee start -->
            <section class="padding-top-bottom-30">
                <div class="padding-top-bottom-90 pos-rel">
                    <div class="line-top"></div>
                    <!-- marquee start -->
                    <h3 class="marquee headline-xxxxl headline-uppercase hidden-box" data-duration="20000"
                        data-gap="20">
                        {{ footer_swiper }}

                    </h3><!-- marquee end -->
                    <div class="line-bottom"></div>
                </div>
            </section><!-- marquee end -->

            <!-- testimonials start -->
            <section class="padding-top-bottom-120 container small">
                <h2 class="headline-m anim-split-lines" data-scroll data-scroll-offset="20%">Client's Feedback</h2>

                <!-- pos-rel start -->
                <div class="pos-rel padding-top-90 padding-bottom-90">
                    <!-- js-1-view-slider start -->
                    <div class="js-1-view-slider hidden-box">
                        <!-- swiper-wrapper start -->
                        <div class="swiper-wrapper slider-scrollanim-activate" data-scroll>
                            {% for item in feed_back %}
                                <!-- swiper-slide start -->
                                <div class="swiper-slide">
                                    <!-- anim-img-scale start -->
                                    <div class="anim-scale testimonials-author border-radius-50perc">
                                        <img class="anim-scale__inner"
                                             src="{% static item.image %}"
                                             alt="author">
                                    </div><!-- anim-img-scale end -->
                                    <p class="quote margin-top-60 body-text-m anim-fade-to-left">{{ item.text }}</p>
                                    <div class="text-right margin-top-20">
                                        <div class="headline-xxxs anim-chars-blur">{{ item.full_name }}</div>
                                        <div class="subhead-xs margin-top-5 anim-chars-blur">{{ item.position }}</div>
                                    </div>
                                </div><!-- swiper-slide end -->
                            {% endfor %}
                        </div><!-- swiper-wrapper end -->

                        <!-- swiper-button-prev start -->
                        <div class="swiper-button-prev-box">
                            <div class="swiper-button-prev"></div>
                        </div><!-- swiper-button-prev end -->
                        <!-- swiper-button-next start -->
                        <div class="swiper-button-next-box">
                            <div class="swiper-button-next"></div>
                        </div><!-- swiper-button-next end -->

                        <!-- swiper-pagination start -->
                        <div class="pagination-box">
                            <div class="swiper-pagination"></div>
                        </div><!-- swiper-pagination end -->
                    </div><!-- js-1-view-slider end -->
                </div><!-- pos-rel end -->
            </section><!-- testimonials end -->
        </div><!-- padding-top-bottom-30 end -->
    </div><!-- section-bg-dark end -->

    <!-- section-bg-light start -->
    <div class="section-bg-light" data-scroll-section>
        <!-- padding-top-bottom-30 start -->
        <div class="padding-top-bottom-30">
            <!-- teams start -->
            <section class="padding-top-bottom-120 container small">
                <h2 class="headline-xxxl text-color-black anim-split-lines" data-scroll data-scroll-offset="20%">Our
                    Creative Team</h2>
                {% for team in team_members %}
                    <!-- flex-container start -->
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="flex-container reverse flex-align-center padding-top-60">
                            <div class="six-columns padding-top-30" data-scroll data-scroll-speed="1">
                                <div class="column-l-margin-40 scrollanim-activate" data-scroll
                                     data-scroll-offset="20%">
                                    <div class="anim-fade-to-top">
                                        <h4 class="headline-xxxs text-color-black">{{ team.full_name }}</h4>
                                        <div class="subhead-xxs text-color-black margin-top-5">{{ team.position }}</div>
                                        <p class="body-text-xs text-color-6d6d6d margin-top-20">{{ team.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="six-columns padding-top-30">
                                <div class="hidden-box">
                                    <div data-scroll data-scroll-speed="-1.2">
                                        <div class="anim-img-reveal" data-scroll
                                             style="background-image:url({% static team.image %})">
                                            <img src='{% static team.image %}'
                                                 alt="Jason Hardeman">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div><!-- flex-container end -->
                    {% else %}
                        <div class="flex-container flex-align-center padding-top-60">
                            <div class="six-columns padding-top-30">
                                <div class="hidden-box">
                                    <div data-scroll data-scroll-speed="-1.2">
                                        <div class="anim-img-reveal" data-scroll
                                             style="background-image:url({% static team.image %})">
                                            <img src='{% static team.image %}'
                                                 alt="Jason Hardeman">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="six-columns padding-top-30" data-scroll data-scroll-speed="1">
                                <div class="column-l-margin-40 scrollanim-activate" data-scroll
                                     data-scroll-offset="20%">
                                    <div class="anim-fade-to-top">
                                        <h4 class="headline-xxxs text-color-black">{{ team.full_name }}</h4>
                                        <div class="subhead-xxs text-color-black margin-top-5">{{ team.position }}</div>
                                        <p class="body-text-xs text-color-6d6d6d margin-top-20">{{ team.description }}</p>
                                    </div>
                                </div>
                            </div>


                        </div><!-- flex-container end -->
                    {% endif %}
                {% endfor %}
            </section><!-- teams end -->

            <!-- skills start -->
            <section class="container small padding-top-bottom-30">
                <h2 class="headline-m text-color-black text-color-black anim-split-lines" data-scroll
                    data-scroll-offset="20%">Our Skills</h2>

                <!-- padding-top-90 start -->
                <div class="padding-top-90">
                    <!-- line-scrollanim-activate start -->
                    <div class="line-scrollanim-activate" data-scroll data-scroll-offset="30%">
                        {% for item in our_skills %}
                            <!-- pos-rel start -->
                            <div class="pos-rel">
                                <div class="anim-line-top black"></div>
                                <div class="d-flex flex-wrap flex-align-center padding-bottom-10">
                                    <div class="headline-xxxxl text-stroke-black skills-5-col padding-top-10">{{ item.counter }}</div>
                                    <h4 class="headline-xxxs text-color-black skills-4-col padding-top-10">{{ item.title }}</h4>
                                    <ul class="list skills-3-col subhead-xs text-color-black padding-top-10">
                                        {% for feature_item in item.feature %}
                                        <li class="list__item dot black">
                                            <p>{{ feature_item }}</p>
                                        </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                                <div class="anim-line-bottom black tr-delay-01"></div>
                            </div><!-- pos-rel end -->
                        {% endfor %}
                    </div><!-- line-scrollanim-activate end -->
                </div><!-- padding-top-90 end -->
            </section><!-- skills end -->


        </div><!-- padding-top-bottom-30 end -->
    </div><!-- section-bg-light end -->
{% endblock %}
