{% extends 'panel/base.html' %}
{% load static %}
{% block main %}
    <!-- section-bg-light start -->
    <div class="section-bg-light" data-scroll-section>
        <!-- padding-top-bottom-30 start -->
        <div class="padding-top-bottom-30">


            <!-- work process start -->
            <section class="container small padding-top-bottom-120">
                <h2 class="headline-m text-color-black anim-split-lines" data-scroll data-scroll-offset="20%">Work
                    Process</h2>

                <!-- flex-container start -->
                <div class="flex-container padding-top-30">
                    {% for item in work_process %}
                        <!-- column start -->
                        <div class="six-columns padding-top-60">
                            <div class="column-r-margin-40 scrollanim-activate" data-scroll data-scroll-offset="20%">
                                <div class="anim-fade-to-left">
                                    <div class="subhead-xs text-color-black">0{{ item.pk }}</div>
                                    <h3 class="headline-xxxs text-color-black margin-top-30">{{ item.title }}</h3>
                                    <p class="body-text-xs text-color-6d6d6d margin-top-20">{{ item.text }}</p>
                                </div>
                            </div>
                        </div><!-- column end -->
                    {% endfor %}
                </div><!-- flex-container end -->
            </section><!-- work process end -->


        </div><!-- padding-top-bottom-30 end -->
    </div><!-- section-bg-light end -->
{% endblock %}
