{% extends 'panel/base.html' %}
{% load static %}
{% block main %}
<!-- section-bg-light start -->
<div class="section-bg-light" data-scroll-section>
	<!-- padding-top-bottom-30 start -->
	<div class="padding-top-bottom-30">
		

		<!-- work process start -->
		<section class="container small padding-top-bottom-120">
			<h2 class="headline-m text-color-black anim-split-lines" data-scroll data-scroll-offset="20%">Work Process</h2>

			<!-- flex-container start -->
			<div class="flex-container padding-top-30">
				<!-- column start -->
				<div class="six-columns padding-top-60">
					<div class="column-r-margin-40 scrollanim-activate" data-scroll data-scroll-offset="20%">
						<div class="anim-fade-to-left">
							<div class="subhead-xs text-color-black">01</div>
							<h3 class="headline-xxxs text-color-black margin-top-30">Brainstorming</h3>
							<p class="body-text-xs text-color-6d6d6d margin-top-20">Pok pok authentic fashion axe, vegan venmo leggings raclette tousled twee tattooed. Banh mi humblebrag hammock tacos fashion axe aesthetic vegan sustainable taiyaki thundercats jean shorts tousled cloud bread waistcoat kogi. Cloud bread cardigan messenger bag raw denim swag drinking vinegar.</p>
						</div>
					</div>
				</div><!-- column end -->
				<!-- column start -->
				<div class="six-columns padding-top-60">
					<div class="column-r-margin-40 scrollanim-activate" data-scroll data-scroll-offset="20%">
						<div class="anim-fade-to-left tr-delay-01">
							<div class="subhead-xs text-color-black">02</div>
							<h3 class="headline-xxxs text-color-black margin-top-30">Approaching</h3>
							<p class="body-text-xs text-color-6d6d6d margin-top-20">Vegan venmo leggings raclette tousled twee tattooed. Banh mi humblebrag hammock tacos fashion axe aesthetic vegan sustainable taiyaki thundercats jean shorts tousled cloud bread waistcoat kogi. Cloud bread cardigan messenger bag raw denim swag drinking vinegar Pok pok authentic fashion axe.</p>
						</div>
					</div>
				</div><!-- column end -->
				<!-- column start -->
				<div class="six-columns padding-top-60">
					<div class="column-r-margin-40 scrollanim-activate" data-scroll data-scroll-offset="20%">
						<div class="anim-fade-to-left">
							<div class="subhead-xs text-color-black">03</div>
							<h3 class="headline-xxxs text-color-black margin-top-30">Adjusting</h3>
							<p class="body-text-xs text-color-6d6d6d margin-top-20">Banh mi humblebrag hammock tacos fashion axe aesthetic vegan sustainable taiyaki thundercats jean shorts tousled cloud bread waistcoat kogi. Cloud bread cardigan messenger bag raw denim swag drinking vinegar. Pok pok authentic fashion axe, vegan venmo leggings raclette tousled twee tattooed.</p>
						</div>
					</div>
				</div><!-- column end -->
				<!-- column start -->
				<div class="six-columns padding-top-60">
					<div class="column-r-margin-40 scrollanim-activate" data-scroll data-scroll-offset="20%">
						<div class="anim-fade-to-left tr-delay-01">
							<div class="subhead-xs text-color-black">04</div>
							<h3 class="headline-xxxs text-color-black margin-top-30">Result</h3>
							<p class="body-text-xs text-color-6d6d6d margin-top-20">Cloud bread cardigan messenger bag raw denim swag drinking vinegar. Pok pok authentic fashion axe, vegan venmo leggings raclette tousled twee tattooed. Banh mi humblebrag hammock tacos fashion axe aesthetic vegan sustainable taiyaki thundercats jean shorts tousled cloud bread waistcoat kogi.</p>
						</div>
					</div>
				</div><!-- column end -->
			</div><!-- flex-container end -->
		</section><!-- work process end -->

		

	</div><!-- padding-top-bottom-30 end -->
</div><!-- section-bg-light end -->
{% endblock %}
