{% extends 'panel/basetwo.html' %}
{% load static %}
{% block section %}
  <!-- Start Sing In Area -->
  <section class="sing-in-area ptb-100">
    <div class="container">
        <div class="contact-wrap-form sing-in-width">
            <div class="scetion-title text-center" style="margin-bottom: 30px;">
                <span>صفحه خرید</span>
                <h2>سفارش خود را نهایی کنید!</h2>
            </div>
            <form method="post">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <input type="text" class="form-control" placeholder="نام" required>
                    </div>
                    <div class="form-group col-lg-6">
                        <input type="text" class="form-control" placeholder="نام خانوادگی" required>
                    </div>
                    <div class="form-group col-12">
                        <input type="text" class="form-control" placeholder="نام شرکت">
                    </div>
                    <div class="form-group col-12">
                        <input type="email" class="form-control" placeholder="ایمیل" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="آدرس">
                </div>


                <div class="custom-control custom-radio custom-control-inline align-items-center pay">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1"
                        class="custom-control-input" required>
                    <label class="custom-control-label" for="customRadioInline1">
                        <img style="width: 100px;"
                            src="./assets/images/Pay.ir-Logo-JPG-Way2pay-97-12-02.jpg"
                            alt="pay.ir" />
                    </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline align-items-center">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1"
                        class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">
                        <img src="./assets/images/logo-white (1).svg" alt="zarinpal" />
                    </label>
                </div>

                <div class="col-12 text-center">
                    <div class="sign text-center padding-top-60 padding-bottom-20">
                        <button type="submit" class="border-btn black js-pointer-large">
                            <span class="border-btn__inner">پرداخت</span>
                            <span class="border-btn__lines-1"></span>
                            <span class="border-btn__lines-2"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Sing In Area -->
{% endblock %}
