{% extends 'panel/base.html' %}
{% load static %}
{% block main %}
<!-- page head start -->
<section id="up" class="pos-rel hidden-box" data-scroll-section>
	<div class="page-head-footer-overlay-fix" data-scroll data-scroll-repeat>
		<!-- bg-parallax -->
		<div class="bg-parallax" style="background-image:url('{% static project.header_image %}'); }}" data-scroll data-scroll-speed="-1.5"></div>

		<!-- flex-min-height-100vh start -->
		<div class="flex-min-height-100vh">
			<div class="padding-top-bottom-120 container text-center after-preloader-anim">
				<h2 class="d-block headline-xxl headline-uppercase">
					<span class="d-block" data-scroll data-scroll-speed="-0.4" data-scroll-position="top">
						<span class="anim-chars-fadein">{{ project.title }}</span>
					</span>
				</h2>
			</div>
		</div><!-- flex-min-height-100vh end -->

		<!-- to top btn start -->
		<a href="#down" class="scroll-to-btn to-down js-pointer-large" data-scroll-to>
			<div class="scroll-to-down-box">
				<span class="scroll-to-btn__arrow"></span>
			</div>
		</a><!-- to top btn end -->
	</div>
</section><!-- page head end -->

<!-- section-bg-light start -->
<section id="down" class="section-bg-light" data-scroll-section>
	<!-- padding-top-bottom-120 start -->
	<div class="padding-top-bottom-120">

		<!-- container start -->
		<div class="container small padding-top-120">
			<!-- flex-container start -->
			<div class="flex-container padding-top-30 padding-bottom-90 pos-rel">
                    {{ project.content|safe }}

			</div><!-- flex-container end -->
		</div><!-- container end -->

	</div><!-- padding-top-bottom-120 end -->
</section><!-- section-bg-light end -->
{% endblock %}
