{% extends 'panel/basetwo.html' %}
{% load static %}
{% block section %}
 <!-- Start Sing In Area -->
 <section class="sing-in-area ptb-100">
    <div class="container">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">پرداخت با موفقیت انجام شد!</h4>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
            <hr>
            <p class="mb-0">بازگشت به <a href="" style="margin-right: 5px;">صفحـه اصلی</a></p>
          </div>
    </div>
</section>
<!-- End Sing In Area -->
{% endblock %}
